@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-wrap {
  display: flex;
  flex-flow:row wrap;
}

@mixin flex-column {
  display:flex;
  flex-direction: column
}

@mixin flex-row-wrap-space-between-align-center {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
}

@mixin flex-row-wrap-start-align-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row-wrap-space-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}