@import "../base/fonts";

$base-font:Mulish,Arial,sans-serif;
$nunito-font:Nunito,
Arial,
sans-serif;
$gray-text:#333;
$background-gray:#F5FAFE;
$background-navbar:#FFF;
$background-form-button:#EC1F46;
$bacgkround-navbar-bottom: #0A223D;
$light-link-text:#FFF;