@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish/Mulish-Bold.woff2') format('woff2'),
        url('../assets/fonts/Mulish/Mulish-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish/Mulish-Regular.woff2') format('woff2'),
        url('../assets/fonts/Mulish/Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/nunito-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/Nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/nunito-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/Nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arial-webfont.woff2') format('woff2'),
        url('../assets/fonts/Arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arialbd-webfont.woff2') format('woff2'),
        url('../assets/fonts/Arial/arialbd-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}