@import "../utils/variables";
@import "../utils/mixins";

.footer-bottom-info{
  @include flex-row-wrap-space-between;
  width:62.7%;
  margin-left:auto;

  @media(max-width:1149px) {
    width:100%;
  }
}

.info-list{
  @include flex-row-wrap-space-between;
  width:40.7%;
  padding-top: 5px;

  .info-item{
    a{
      color: #FFFFFF;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
