@import "../utils/mixins";

.hotel-name-and-rate {
  @include flex-row-wrap-space-between-align-center;
  padding: 23px 0 26px;
}

.stars-hotel-rate {
  @include flex-row-wrap;
  justify-content: space-between;
  width: 14%;
  margin-right: auto;
  margin-bottom: 4px;
}

.header-and-offer{
  @include flex-row-wrap-space-between-align-center;
}

.header-section {
  margin-right: 14px;
}

.user-rating{
  padding: 8px;
  color:#FFF;
  text-align: center;
  background: $background-form-button;
  border-radius: 4px;
}

.rate-header{
  margin-bottom: 2px;
}