@import "../utils/variables";

.navbar {
  background-color: $background-navbar;
}

.navbar-content {
  @include flex-row-wrap;
  align-items: center;
  padding: 37px 0;
  width: 100%;

  @media(max-width:768px) {
    flex-direction: column;
  }
}

.logo{
  margin-right:108px;

  @media(max-width:1024px){
    margin-right: 55px;
  }

  @media(max-width:768px) {
    margin:0;
    margin-bottom: 30px;
  }
}
.search-form{
  margin-right:auto;

  @media(max-width:768px) {
    margin: 0;
    order:1;
  }
}
.shopping-cart {
  margin-right: auto;

  @media(max-width:768px) {
    margin: 0;
  }
}

.user-menu-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:21%;

  @media(max-width:768px) {
     width:60%;
     margin-bottom: 20px;
     order:0;
  }
}

.shopping-cart{
  position: relative;
}

.top-location{
  position: absolute;
  top: -10px;
  right: -10px;
}

.circle{
  border-radius:50%;
}

.count-purchases{  
  @include flex-center-middle;
  width:20px;
  height:20px;
  background-color: $background-form-button;
  color:#FFF;
}

.user-dropdown-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:64%;
}

.name{
  color:$gray-text;
  font-size: 14px;
  line-height: 18px;
}