@import "../utils/variables";
@import "../utils/mixins";

.navbarBottom{
  background-color: $bacgkround-navbar-bottom;
}

.navigation{
@include flex-row-wrap-space-between-align-center;
}

.nav-item{
  max-width:fit-content;
  padding:31px 0;
  margin-right:83px;

  &:last-child{
    margin-right:0;
  }

   @media(max-width:1149px){
        margin-right:0;
    }
}