@import "../utils/variables";
@import "../utils/mixins";

.navbarBottom{
  background-color: $bacgkround-navbar-bottom;

  @media(max-width:768px) {
    background-color:transparent;
  }

  .btn-burger-side-menu {
    @media(max-width:768px) {
      display: block;
    }
  }
}

.navigation{
@include flex-row-wrap-space-between-align-center;
@media(max-width:768px) {
  display:none;
  flex-direction: column;
  }
}

.nav-item{
  max-width:fit-content;
  padding:31px 0;
  margin-right:83px;

  &:last-child{
    margin-right:0;
  }

   @media(max-width:1149px){
        margin-right:0;
    }
@media(max-width:768px) {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;

  a {
    width: 100%;
  }
}
}