@import "../utils/variables";
@import "../utils/mixins";

.navbarTop{ 
 width:100%;
 background: $background-gray;
}

.navbarTop-content{
  @include flex-row-wrap;
  width:100%;

  @media(max-width:768px) {
    justify-content:center;
  }
}

.question-phone{
  margin-right: auto;
  padding:24px 0;
  color:$gray-text;  

  @media(max-width:768px) {
    width:100%;
    margin:0;
    padding-bottom:10px;
    text-align: center;
  }
}

strong{
  font-weight: bold;
  @media(max-width:768px) {
    margin-right: 20px;
  }
}

.gift-and-loyalty-section{
  @include flex-row-wrap;
  padding:25px 5px 17px 0;

  @media(max-width:1149px) {
    padding-top:10px;
  }
}

.gift, .loyalty{
  @include flex-align-items-center;

  img{
    display:block;
    margin-right: 20px;
  }
}

.gift{
  margin-right: 98px;
}